{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        <div class="card shadow">
            <div class="card-header">
                Office File Documents &nbsp;
                <a href="" data-toggle="modal" data-target="#addModal" style="font-size: 14px;">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="card-body">
                
                <form method="POST"  enctype="multipart/form-data">
                    
                        {% csrf_token %}
                        {{form|crispy}}
                  
                       
                        <button type="submit" class="btn btn-primary">Submit</button>
                    
                </form>
                
            </div>
        </div>
    </div>


</div>
{% endblock  %}