{% extends "baseTemplate.html" %}

{% load widget_tweaks %}

{% block content %}
{% include "navbar.html" %}
    <div class="container">
        <div class="row" style="margin-top: 3rem;">
            
            <div class="col s2"></div>
            <div class="col s8">
                <div class="row">
                    
                      <div class="card darken-1">
                        <div class="card-content red-text">
                          <span class="card-title black-text">Login</span>
                          <div class="row">
                          <form method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                          </div>
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light blue darken-1 " type="submit" >Login
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                      </form>
                      </div>
                   
                  </div>
            </div>
            <div class="col s2"></div>
          </div>
    </div>


{% endblock  %}
    