{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-header">Create your own account</div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary">Sign up</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
  </div>
</div>
{% endblock content %}
    