{% extends "base.html" %}


{% block content %}

<div class="card">
    <div class="card-content black-text">
        <div class="row">
            <div class="col s9">
                <span class="card-title">Testing Admission Office</span>
            </div>
            <div class="col s3">
                <span class="red-text">{{date}}</span>
            </div>
        </div>
        <div class="divider"></div>
        <!-- <table>
            <div class="container">
                <tbody>
                    <tr style='border: none;'>
                      <td>
                          <a href=""><i class="material-icons" aria-hidden="false">folder</i>&nbspDocuments</a>
                      </td>
                      <td>Eclair</td>
                      <td>$0.87</td>
                    </tr>
                    <tr style='border: none;'>
                      <td>Alan</td>
                      <td>Jellybean</td>
                      <td>$3.76</td>
                    </tr>
                    <tr style='border: none;'>
                      <td>Jonathan</td>
                      <td>Lollipop</td>
                      <td>$7.00</td>
                    </tr>
                  </tbody>
            </div>
        </table> -->
    </div>
 
</div>
{% endblock  %}