<nav id="sidebar" class="active">
    <!-- <h1><a href="index.html" class="logo text-center"><i class="fas fa-user-md"></i></a></h1> -->
<ul class="list-unstyled components mb-5" style="margin-top: 5rem;">
<li class="active">
    <a href="{% url 'home' %}"><span class="fa fa-home"></span> Home</a>
</li>
<li>
    <a href="{% url 'students:student_profile' %}"><span class="fa fa-user"></span> Students </a>
</li>
<li>
    <a href="{% url 'documents:office_file_list' %}"><span class="fas fa-file"></span>Office Documents</a>
</li>
<li>
    <a href="{% url 'students:settings' %}"><span class="fa fa-cogs"></span> Settings</a>
</li>

</ul>

<div class="footer">
    
</div>
</nav>
